<single-spa-router base="/learning-vite-microfrontend/">
  <!--

    This is the single-spa Layout Definition for your microfrontends.
    See https://single-spa.js.org/docs/layout-definition/ for more information.

  -->

  <!-- Example layouts you might find helpful:

  <nav>
    <application name="@org/navbar"></application>
  </nav>
  <route path="settings">
    <application name="@org/settings"></application>
  </route>

  -->
  <application name="@zerotacg/vite-micro-navigation"></application>

  <main>
    <route default>
      <application name="@zerotacg/vite-micro-dashboard"></application>
    </route>
    <route path="greeting">
      <application name="@zerotacg/vite-micro-greeting"></application>
    </route>
  </main>
</single-spa-router>
